# Data QA Assinment

## Step 0: Import the necessary library

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline

## Step 1: Load the Dataset

In [2]:
df = pd.read_csv('Dataset - Junior Data QA Analyst.csv')

## Step 2: Data Exploration and Data Cleaning

In [3]:
df.sample(10)

,post_code,dob,gender,Spitalzusatzversicherung,Franchise,Ambulante Zusatzversicherung,Weitere Ergänzungen,Zahnbehandlungen,Unfallzusatz in den Zusatzversicherungen,name,Zusatzversicherung,Product name,Zusatzversicherung 1,Product name 1,Zusatzversicherung 2,Product name 2
1965867,2856,1978,Male,NaN,NaN,NaN,Brillen und Kontaktlinsen,NaN,False,Helsana,NaN,NaN,13.25,Top,NaN,NaN
4036809,6053,1987,Female,Privat,0.0,NaN,NaN,NaN,True,Progrès,NaN,NaN,87.30,Hospital Privat,NaN,NaN
421004,6300,1970,Male,Halbprivat,0.0,NaN,NaN,NaN,True,CSS,NaN,NaN,107.70,Spitalversicherung myFlex Balance Variante 2,NaN,NaN
1935538,6110,1979,Male,NaN,NaN,Notfälle im Ausland,NaN,NaN,False,Atupri,NaN,NaN,36.40,Mivita Reala,NaN,NaN
4261482,3267,1983,Female,NaN,NaN,NaN,Brillen und Kontaktlinsen,NaN,True,ÖKK,NaN,NaN,17.80,Natur Midi,19.4,Start
2557459,1288,2004,Female,Halbprivat,0.0,NaN,NaN,NaN,True,EGK-Gesundheitskasse,NaN,NaN,31.35,EGK-SUN 2,NaN,NaN
2194672,9100,1969,Male,Allgemein ganze Schweiz,NaN,NaN,NaN,NaN,True,EGK-Gesundheitskasse,NaN,NaN,41.05,EGK-SUN 3,NaN,NaN
1044415,9100,2011,Female,NaN,NaN,Alternativmedizin,NaN,NaN,True,Vivacare,NaN,NaN,2.90,Komplementär l,NaN,NaN
2344587,2856,1963,Male,NaN,NaN,NaN,"Such-, Rettungsaktionen und Transporte",NaN,True,KVF,NaN,NaN,42.40,Start,NaN,NaN
1409209,6375,1998,Male,Allgemein ganze Schweiz,NaN,NaN,NaN,NaN,True,Vivacare,NaN,NaN,1.10,Spital allgemein,NaN,NaN

In [4]:
df.shape

(4335311, 16)

In [5]:
df.isnull().sum()

post_code                                         0
dob                                               0
gender                                            0
Spitalzusatzversicherung                    1794214
Franchise                                   2286487
Ambulante Zusatzversicherung                3813610
Weitere Ergänzungen                         3379477
Zahnbehandlungen                            4018632
Unfallzusatz in den Zusatzversicherungen          0
name                                              0
Zusatzversicherung                          4335311
Product name                                4335311
Zusatzversicherung 1                          31053
Product name 1                                31053
Zusatzversicherung 2                        3834005
Product name 2                              3834005
dtype: int64

##### Removing the columns with maximum number of nan value 
##### As our dataset is big columns with few value can be negliated

In [6]:
filtered_df = df[['post_code','dob','gender','Unfallzusatz in den Zusatzversicherungen','Franchise']]

In [7]:
filtered_df.sample(10)

,post_code,dob,gender,Unfallzusatz in den Zusatzversicherungen,Franchise
608140,8752,2001,Male,True,NaN
3712535,1860,1972,Male,True,NaN
1942841,7076,1979,Female,False,1000.0
3348730,5000,1961,Female,True,NaN
3284964,4622,2010,Female,True,NaN
4208726,4622,1952,Male,True,NaN
3012676,5000,1985,Male,True,NaN
2446466,1860,2010,Male,True,NaN
1426173,2856,1998,Female,True,0.0
2799310,8214,1990,Male,True,NaN

In [8]:
filtered_df.duplicated().sum()

np.int64(4303027)

In [9]:
filtered_df = filtered_df.drop_duplicates()

In [10]:
filtered_df.isnull().sum()

post_code                                      0
dob                                            0
gender                                         0
Unfallzusatz in den Zusatzversicherungen       0
Franchise                                   6471
dtype: int64

In [11]:
filtered_df.head()

   post_code   dob gender  Unfallzusatz in den Zusatzversicherungen  Franchise
0       5000  2020   Male                                      True        NaN
1       1473  2020   Male                                      True        NaN
2       2013  2020   Male                                      True        NaN
3       8836  2020   Male                                      True        NaN
4       6300  2020   Male                                      True        NaN

In [12]:
pd.set_option('display.float_format', lambda x: '%.0f' % x)  # Shows full integersfiltered_df.describe()
filtered_df.describe()

       post_code   dob  Franchise
count      32284 32284      25813
mean        5862  1985       2250
std         2653    19       1920
min         1288  1950          0
25%         3900  1969          0
50%         6300  1986       1000
75%         8752  2002       3000
max         9320  2020       5000

In [13]:
filtered_df['Franchise'] = filtered_df['Franchise'].fillna(filtered_df['Franchise'].median())

# TASK  1
#### Please provide a manifest file for post_code, each unique DOB in that post_code and the 
#### total number of unique DOBs in that zip code, and the count of records in that 
#### post_code. Example: 
#### post_code: 5000 dob: 1959,1960, 2000, 2019 
#### total_unique_dob: 4 
#### total_records: 40

In [14]:
filtered_df.shape

(32284, 5)

In [15]:
manifest_df = filtered_df.groupby('post_code') .agg(
    dob = ('dob', lambda x : sorted(x.unique().tolist())) , # Gives sorted unique dobs
    totol_unique_dob = ('dob','nunique'), # counts total unique dob
    total_records =('dob','count') # count total records
    ).reset_index()
manifest_df

,post_code,dob,totol_unique_dob,total_records
0,1288,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,1255
1,1473,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,1360
2,1860,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,1265
3,2013,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,1380
4,2856,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,1238
5,3267,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,860
6,3900,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,860
7,4001,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,1217
8,4147,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,1243
9,4622,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,1238
10,5000,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,1420
11,6053,"[1964, 1965, 1966, 1967, 1968, 1969, 1970, 197...",57,782
12,6110,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,1235
13,6300,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,1417
14,6375,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,1235
15,6460,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,1328
16,6517,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,1284
17,7076,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,1225
18,8214,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,1323
19,8752,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,1395
20,8836,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,1351
21,8914,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,1229
22,9050,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,1378
23,9100,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,1236
24,9308,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,1248
25,9320,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,1282

In [16]:
# Formated the output as requested
def format_row(row):
    dobs = ', '.join(map(str, row['dob']))
    return f"post_code: {row['post_code']}\ndob: {dobs}\ntotal_unique_dob: {row['totol_unique_dob']}\ntotal_records: {row['total_records']}\n"

# Creating the manifest content
manifest_content = '\n'.join(manifest_df.apply(format_row, axis=1))

In [17]:
print(manifest_content)

post_code: 1288
dob: 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020
total_unique_dob: 71
total_records: 1255

post_code: 1473
dob: 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020
total_unique_dob: 71
total_records: 1360

post_code: 1860
dob: 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020
total_unique_dob: 71
total_records: 1265

post_code: 2013
dob: 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020
total_unique_dob: 71
total_records: 1380

post_code: 2856
dob: 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020
total_unique_dob: 71
total_records: 1238

post_code: 3267
dob: 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020
total_unique_dob: 71
total_records: 860

post_code: 3900
dob: 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020
total_unique_dob: 71
total_records: 860

post_code: 4001
dob: 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020
total_unique_dob: 71
total_records: 1217

post_code: 4147
dob: 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020
total_unique_dob: 71
total_records: 1243

post_code: 4622
dob: 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020
total_unique_dob: 71
total_records: 1238

post_code: 5000
dob: 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020
total_unique_dob: 71
total_records: 1420

post_code: 6053
dob: 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020
total_unique_dob: 57
total_records: 782

post_code: 6110
dob: 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020
total_unique_dob: 71
total_records: 1235

post_code: 6300
dob: 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020
total_unique_dob: 71
total_records: 1417

post_code: 6375
dob: 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020
total_unique_dob: 71
total_records: 1235

post_code: 6460
dob: 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020
total_unique_dob: 71
total_records: 1328

post_code: 6517
dob: 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020
total_unique_dob: 71
total_records: 1284

post_code: 7076
dob: 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020
total_unique_dob: 71
total_records: 1225

post_code: 8214
dob: 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020
total_unique_dob: 71
total_records: 1323

post_code: 8752
dob: 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020
total_unique_dob: 71
total_records: 1395

post_code: 8836
dob: 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020
total_unique_dob: 71
total_records: 1351

post_code: 8914
dob: 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020
total_unique_dob: 71
total_records: 1229

post_code: 9050
dob: 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020
total_unique_dob: 71
total_records: 1378

post_code: 9100
dob: 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020
total_unique_dob: 71
total_records: 1236

post_code: 9308
dob: 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020
total_unique_dob: 71
total_records: 1248

post_code: 9320
dob: 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020
total_unique_dob: 71
total_records: 1282

In [18]:
# Writing the manifest content into manifest file
with open('manifest.txt','w') as f:
    f.write(manifest_content)

# Task 2 
#### Split files by postal_code, using pandas as efficiently as you can. 
#### Split files: 
#### dataset_5000.csv 
#### dataset_1288.csv

In [19]:
unique_post_code = filtered_df['post_code'].unique()

# Create a dictionary to store grouped DataFrames
grouped = dict(tuple(manifest_df.groupby('post_code')))

for post_code , group_df in grouped.items():
    filename = f'dataset_{(post_code)}.csv'  
    group_df.to_csv(f'Datasets/{filename}', index=False)
    print(f'Saved at: Datasets/{filename}')


print(f"\nSuccessfully created {len(unique_post_code)} files.")

Saved at: Datasets/dataset_1288.csv
Saved at: Datasets/dataset_1473.csv
Saved at: Datasets/dataset_1860.csv
Saved at: Datasets/dataset_2013.csv
Saved at: Datasets/dataset_2856.csv
Saved at: Datasets/dataset_3267.csv
Saved at: Datasets/dataset_3900.csv
Saved at: Datasets/dataset_4001.csv
Saved at: Datasets/dataset_4147.csv
Saved at: Datasets/dataset_4622.csv
Saved at: Datasets/dataset_5000.csv
Saved at: Datasets/dataset_6053.csv
Saved at: Datasets/dataset_6110.csv
Saved at: Datasets/dataset_6300.csv
Saved at: Datasets/dataset_6375.csv
Saved at: Datasets/dataset_6460.csv
Saved at: Datasets/dataset_6517.csv
Saved at: Datasets/dataset_7076.csv
Saved at: Datasets/dataset_8214.csv
Saved at: Datasets/dataset_8752.csv
Saved at: Datasets/dataset_8836.csv
Saved at: Datasets/dataset_8914.csv
Saved at: Datasets/dataset_9050.csv
Saved at: Datasets/dataset_9100.csv
Saved at: Datasets/dataset_9308.csv
Saved at: Datasets/dataset_9320.csv

Successfully created 26 files.

In [20]:
manifest_df.head()

,post_code,dob,totol_unique_dob,total_records
0,1288,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,1255
1,1473,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,1360
2,1860,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,1265
3,2013,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,1380
4,2856,"[1950, 1951, 1952, 1953, 1954, 1955, 1956, 195...",71,1238

# TASK 3 
#### The best way to find anomalies in the collected data is to visualize the data for key 
#### elements. Please identify the key elements in the dataset (open to interpretation) and 
#### then visualize various fields for distribution and completeness for QA analysts to quickly 
#### spot anomalies. Please explain why you chose the fields and the respective visualization.

In [21]:
df_task_3 = df[['post_code','dob','gender','Franchise','Spitalzusatzversicherung','Ambulante Zusatzversicherung','Zahnbehandlungen','Unfallzusatz in den Zusatzversicherungen']]

In [22]:
df_task_3.head()

,post_code,dob,gender,Franchise,Spitalzusatzversicherung,Ambulante Zusatzversicherung,Zahnbehandlungen,Unfallzusatz in den Zusatzversicherungen
0,5000,2020,Male,NaN,Allgemein ganze Schweiz,NaN,NaN,True
1,1473,2020,Male,NaN,Allgemein ganze Schweiz,NaN,NaN,True
2,2013,2020,Male,NaN,Allgemein ganze Schweiz,NaN,NaN,True
3,8836,2020,Male,NaN,Allgemein ganze Schweiz,NaN,NaN,True
4,6300,2020,Male,NaN,Allgemein ganze Schweiz,NaN,NaN,True

In [23]:
df.head()

,post_code,dob,gender,Spitalzusatzversicherung,Franchise,Ambulante Zusatzversicherung,Weitere Ergänzungen,Zahnbehandlungen,Unfallzusatz in den Zusatzversicherungen,name,Zusatzversicherung,Product name,Zusatzversicherung 1,Product name 1,Zusatzversicherung 2,Product name 2
0,5000,2020,Male,Allgemein ganze Schweiz,NaN,NaN,NaN,NaN,True,Visana,NaN,NaN,0,Spital allgemein,NaN,NaN
1,1473,2020,Male,Allgemein ganze Schweiz,NaN,NaN,NaN,NaN,True,Visana,NaN,NaN,0,Spital allgemein,NaN,NaN
2,2013,2020,Male,Allgemein ganze Schweiz,NaN,NaN,NaN,NaN,True,Visana,NaN,NaN,0,Spital allgemein,NaN,NaN
3,8836,2020,Male,Allgemein ganze Schweiz,NaN,NaN,NaN,NaN,True,Visana,NaN,NaN,0,Spital allgemein,NaN,NaN
4,6300,2020,Male,Allgemein ganze Schweiz,NaN,NaN,NaN,NaN,True,Visana,NaN,NaN,0,Spital allgemein,NaN,NaN

In [24]:
df['age'] = 2025 - df['dob']

In [25]:
df.drop_duplicates(inplace = True)

In [26]:
df.shape

(3091853, 17)

In [27]:
df.head()

,post_code,dob,gender,Spitalzusatzversicherung,Franchise,Ambulante Zusatzversicherung,Weitere Ergänzungen,Zahnbehandlungen,Unfallzusatz in den Zusatzversicherungen,name,Zusatzversicherung,Product name,Zusatzversicherung 1,Product name 1,Zusatzversicherung 2,Product name 2,age
0,5000,2020,Male,Allgemein ganze Schweiz,NaN,NaN,NaN,NaN,True,Visana,NaN,NaN,0,Spital allgemein,NaN,NaN,5
1,1473,2020,Male,Allgemein ganze Schweiz,NaN,NaN,NaN,NaN,True,Visana,NaN,NaN,0,Spital allgemein,NaN,NaN,5
2,2013,2020,Male,Allgemein ganze Schweiz,NaN,NaN,NaN,NaN,True,Visana,NaN,NaN,0,Spital allgemein,NaN,NaN,5
3,8836,2020,Male,Allgemein ganze Schweiz,NaN,NaN,NaN,NaN,True,Visana,NaN,NaN,0,Spital allgemein,NaN,NaN,5
4,6300,2020,Male,Allgemein ganze Schweiz,NaN,NaN,NaN,NaN,True,Visana,NaN,NaN,0,Spital allgemein,NaN,NaN,5

In [28]:
df.to_csv('data_with_out_duplicates.csv',index = False)

### Now using python script to visualize the dataset ... The same folder contains the insurance_visualizer_enhance_csv_to_html.py ... When you run the script it will generate insurance_visualization.html file